.cart-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  padding: 30px 20px;
}

.cart-page__item {
  border: 3px solid $green;
}

.order-form {
  border: 1px solid;
  position: relative;
  // top: 100px;
  left: 40vw;
  width: 270px;
  /*   display: none; */
}

.active-form {
  display: block;
}
