.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0;
  font-family: $mainfont;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header,
.footer {
  padding-top: 15px;
  padding-bottom: 15px;
  color: $white;
  background-color: $black;
}

.header__inner,
.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a,
.footer a {
  text-decoration: none;
  color: $white;
  transition: all 0.3s ease;
}

.header a:hover,
.footer a:hover {
  opacity: 0.5;
}