<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <button id="button">Done</button>

    <form id="order-form" class="order-form">
      <input type="text" name="name" id="name" placeholder="First Name and last name" required>
      <span class="name-error"></span>
      <input type="tel" name="phone" id="phone" placeholder="Phone number" required autofocus>
      <input type="text" name="address" id="address" placeholder="Delivery address" required>
      <input type="email" name="email" id="email" placeholder="Email" required autofocus>
      <button type="submit" class="order-form__submit-btn">Confirm</button>
    </form>

    <script src="script.js"></script>
  </body>
</html>