button {
  background-color: black;
  color: white;
}

.order-form {
  border: 1px solid;
  position: relative;
  top: 100px;
  left: 30%;
  width: 300px;
/*   display: none; */
}

.active-form {
  display: block;
}